<div id="heat-map-1"
  data-heat-options="{'descriptionText': 'Days I work on this blog'}" data-heat-js="{'showDayNumbers': true }" >
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jheat.js@2.7.1/dist/heat.js.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/heatmapjs@2.0.2/heatmap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/jheat.js@2.7.1/dist/heat.min.js"></script>

    <script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
        let date = new Date(new Date().getFullYear(), 0, 1);
        for (let dayNumber = 0; dayNumber < 8000; dayNumber++) {
          let daysToIncrease = Math.floor(Math.random() * 500),
            newDate = new Date(date);
          newDate.setDate(newDate.getDate() + daysToIncrease);
          $heat.addDate("heat-map-1", newDate, null, false);
        }
        $heat.refreshAll();
      });</script>


  